# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.exbico_test.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\endma\RiderProjects\exbico_test\.idea\.idea.exbico_test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
